## Data Cleaning

In [9]:
import pandas as pd
import os

In [39]:
primary = pd.read_csv('data/allcauseunplanned30-dayhospitalreadmissionratecalifornia2011_2023.csv')
primary.head()

,Year,Strata,Strata Name,County,Total Admits (ICD-9),30-day Readmits (ICD-9),30-day Readmission Rate (ICD-9),Total Admits (ICD-10),30-day Readmits (ICD-10),30-day Readmission Rate (ICD-10)
0,2011,Overall,Overall,State,1948641.0,272268.0,14%,NaN,NaN,NaN
1,2011,Age,18 to 44 years,State,326070.0,36855.0,11.30%,NaN,NaN,NaN
2,2011,Age,45 to 64 years,State,659801.0,90891.0,13.80%,NaN,NaN,NaN
3,2011,Age,65 years and above,State,962771.0,144522.0,15%,NaN,NaN,NaN
4,2011,Sex,Male,State,901776.0,132417.0,14.70%,NaN,NaN,NaN

In [40]:
primary = primary[(primary['Strata'] == 'Overall') & (primary['County'] != 'State')]
primary

,Year,Strata,Strata Name,County,Total Admits (ICD-9),30-day Readmits (ICD-9),30-day Readmission Rate (ICD-9),Total Admits (ICD-10),30-day Readmits (ICD-10),30-day Readmission Rate (ICD-10)
17,2011,Overall,Overall,Alameda,75103.0,11377.0,15.10%,NaN,NaN,NaN
18,2011,Overall,Overall,Alpine,13.0,1.0,7.70%,NaN,NaN,NaN
19,2011,Overall,Overall,Amador,2657.0,345.0,13%,NaN,NaN,NaN
20,2011,Overall,Overall,Butte,20422.0,3198.0,15.70%,NaN,NaN,NaN
21,2011,Overall,Overall,Calaveras,3253.0,392.0,12.10%,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
976,2023,Overall,Overall,Tulare,NaN,NaN,NaN,17918,2483,13.86%
977,2023,Overall,Overall,Tuolumne,NaN,NaN,NaN,3251,485,14.92%
978,2023,Overall,Overall,Ventura,NaN,NaN,NaN,35807,5244,14.65%
979,2023,Overall,Overall,Yolo,NaN,NaN,NaN,7760,1195,15.40%
980,2023,Overall,Overall,Yuba,NaN,NaN,NaN,4671,740,15.84%

In [41]:
primary.columns

Index(['Year', 'Strata', 'Strata Name', 'County', 'Total Admits (ICD-9)',
       '30-day Readmits (ICD-9) ', '30-day Readmission Rate (ICD-9)',
       'Total Admits (ICD-10)', '30-day Readmits (ICD-10) ',
       '30-day Readmission Rate (ICD-10)'],
      dtype='object')

In [42]:
primary['County'].unique()

array(['Alameda', 'Alpine', 'Amador', 'Butte', 'Calaveras', 'Colusa',
       'Contra Costa', 'Del Norte', 'El Dorado', 'Fresno', 'Glenn',
       'Humboldt', 'Imperial', 'Inyo', 'Kern', 'Kings', 'Lake', 'Lassen',
       'Los Angeles', 'Madera', 'Marin', 'Mariposa', 'Mendocino',
       'Merced', 'Modoc', 'Mono', 'Monterey', 'Napa', 'Nevada', 'Orange',
       'Placer', 'Plumas', 'Riverside', 'Sacramento', 'San Benito',
       'San Bernardino', 'San Diego', 'San Francisco', 'San Joaquin',
       'San Luis Obispo', 'San Mateo', 'Santa Barbara', 'Santa Clara',
       'Santa Cruz', 'Shasta', 'Sierra', 'Siskiyou', 'Solano', 'Sonoma',
       'Stanislaus', 'Sutter', 'Tehama', 'Trinity', 'Tulare', 'Tuolumne',
       'Ventura', 'Yolo', 'Yuba', 'Unknown County'], dtype=object)

In [48]:
columns_to_drop = ['Strata','Strata Name','Total Admits (ICD-10)','30-day Readmits (ICD-10) ','30-day Readmission Rate (ICD-10)']
primary_pre2016 = primary[primary['Year'] < 2016]
primary_pre2016 = primary_pre2016.drop(columns=columns_to_drop)
new_column_names = {
    'Total Admits (ICD-9)': 'Total_Admits',
    '30-day Readmits (ICD-9) ': '30_day_Readmits',
    '30-day Readmission Rate (ICD-9)': '30_day_Readmission_Rate'
}
primary_pre2016 = primary_pre2016.rename(columns=new_column_names)

primary_pre2016

     Year     County  Total_Admits  30_day_Readmits 30_day_Readmission_Rate
17   2011    Alameda       75103.0          11377.0                  15.10%
18   2011     Alpine          13.0              1.0                   7.70%
19   2011     Amador        2657.0            345.0                     13%
20   2011      Butte       20422.0           3198.0                  15.70%
21   2011  Calaveras        3253.0            392.0                  12.10%
..    ...        ...           ...              ...                     ...
370  2015     Tulare       16424.0           2243.0                  13.66%
371  2015   Tuolumne        3144.0            410.0                  13.04%
372  2015    Ventura       30175.0           3862.0                  12.80%
373  2015       Yolo        5852.0            726.0                  12.41%
374  2015       Yuba        3521.0            527.0                  14.97%

[290 rows x 5 columns]

In [49]:
columns_to_drop_2016 = ['Strata','Strata Name','Total Admits (ICD-9)','30-day Readmits (ICD-9) ', '30-day Readmission Rate (ICD-9)']
primary_after2016 = primary[primary['Year'] >= 2016]
primary_after2016 = primary_after2016.drop(columns=columns_to_drop_2016)
new_column_names_2016 = {
    'Total Admits (ICD-10)': 'Total_Admits',
    '30-day Readmits (ICD-10) ': '30_day_Readmits',
    '30-day Readmission Rate (ICD-10)': '30_day_Readmission_Rate'
}
primary_after2016 = primary_after2016.rename(columns=new_column_names_2016)
primary_after2016

     Year     County Total_Admits 30_day_Readmits 30_day_Readmission_Rate
392  2016    Alameda        65203            9759                  14.97%
393  2016     Alpine           21               1                   4.76%
394  2016     Amador         2814             390                  13.86%
395  2016      Butte        22675            4041                  17.82%
396  2016  Calaveras         2868             400                  13.95%
..    ...        ...          ...             ...                     ...
976  2023     Tulare        17918            2483                 13.86%
977  2023   Tuolumne         3251             485                 14.92%
978  2023    Ventura        35807            5244                 14.65%
979  2023       Yolo         7760            1195                 15.40%
980  2023       Yuba         4671             740                 15.84%

[465 rows x 5 columns]

In [52]:
cleaned_primary = pd.concat([primary_pre2016, primary_after2016], ignore_index=True)
cleaned_primary

     Year     County Total_Admits 30_day_Readmits 30_day_Readmission_Rate
0    2011    Alameda      75103.0         11377.0                  15.10%
1    2011     Alpine         13.0             1.0                   7.70%
2    2011     Amador       2657.0           345.0                     13%
3    2011      Butte      20422.0          3198.0                  15.70%
4    2011  Calaveras       3253.0           392.0                  12.10%
..    ...        ...          ...             ...                     ...
750  2023     Tulare        17918            2483                 13.86%
751  2023   Tuolumne         3251             485                 14.92%
752  2023    Ventura        35807            5244                 14.65%
753  2023       Yolo         7760            1195                 15.40%
754  2023       Yuba         4671             740                 15.84%

[755 rows x 5 columns]

In [53]:
cleaned_primary.to_csv('data/cleaned_data/primary.csv', index=False)

## EDA